body{
   
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    background-color: #EBEDF0;
    width: 100%;
}
.Navigation_bar{
    padding-top: 3px;
    background-color: white;
    box-shadow:  0 1px 3px 0 rgba(0,0,0,0.16);
    position: fixed;
  
    top: 0px;
   
}
.main{
    margin-top: 65px;
}
.Navigation_bar_lift{
    float: left;
   padding-left: 10px;
   margin: 0px;
}
#b_type1{
    border: oldlace;
    background-color: white;
}
#F_icon{
    font-size: 48px;
    color: #0d6be1d9;
    margin-left: 5px;
}
#arrow{
    position: absolute;
    left: 25px;
    top: 13px;
    width: 40px;
    height: 30px;
    font-size: 30px;
    display: none;
}
#arrow:hover{
    background-color: #00000047;
    border-radius: 20px;
}
#search_icon{
    font-size: 24px;
    position: absolute;
    top: 17px;  
    width: 46px;
    height: 22px;
    color: #00000047;

}
#search_bar{
   padding-left: 13px;
    padding-top: 8px;
    margin: 0px;
}
#search_bar:active{
    outline: none;
}

.search_place{
    width: 225px;
    height: 37px;
    background-color: #e1e1e1;
    border-radius: 20px;
    border: none;
    color: #00000047;
    padding-left: 34px;
    padding-bottom: 6px;
    
}
.Navigation_bar_right{
    float: right;
}
.navi_left_icon {
    size: 20px;
}


li{
    list-style: none;
}
.top_center{
    border: none;
    text-align: center;
    margin-left: 5px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 10px;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}
.top_center:hover{
    background-color:#2125293b;
}
.top_center:active{
    background-color: white;
    border-bottom: 2px;
    border-color: blue;
}
#home_button{
    border-bottom-color:blue ;
}
#home{
    font-size: 32px;
    color: #708090c2;
}
#video{
    font-size: 28px;
    color: #708090c2;
}
#store{

    font-size: 28px;
    color: #708090c2;

}
#group{
    font-size: 28px;
    color: #708090c2;

}
#games{
    font-size: 28px;
    color: #708090c2;

}
.right_icons{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;

}


.b_type3{
   background-color: white;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    height: 30px;
}
.b_type3:hover{
    background-color:  #2125293b;
}    

.user{
    border-radius: 50%;
    height: 28px;
    padding-left: 0px;
    padding-right: 9px;
}
.name{
    text-align: left;
    padding-left: 0px;
}
.b_type4{
   
    border-radius: 20px;
    border-style: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 10px;
}
.b_type4:hover{
    background-color:#2125293b;
}
#R_icon{
    font-size: 20px;
}







/**css for right side   {friends chat}**/
.friend_profile{
    border-radius: 75%;
    margin-top: 7px;
    width: 50px;
    height: 30px;
}
.friends_chat{
    border-style: none;
    width: 286px;
    background-color: #EBEDF0;
   
 

}
.contact_icons{
    width: 28px;
    padding: 0px;
    border-style: none;
    height: 27px;
    background-color: #EBEDF0;
    border-radius: 20px;
    color: #606770;
   
}
.Contacts{
     color: #606770;

}
.friend_name{
    padding-top: 5px;
    padding-left: 0px;
    margin-top: 3px;
}
.contact_icons:hover{
    background-color: #DADDE1;
}
.friends_chat:hover{
    background-color: #DADDE1;
    border-radius: 5px;
}
.new_chat{
    height: 48px;
    width: 50px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px 2px rgb(0 0 0 / 16%);
    position: fixed;
    left: 1203px;
    bottom: 7px;
}

.new_chat_button{
    border-radius: 20px;
    border-style: none;
    text-align: center;
    margin-left: 7px;
    margin-top: 8px;
    background-color: white;
}
.group_chat{
    color: #606770;
}
.group_chat_icon{
    padding: 0px;
    width: fit-content;
    height: 24px;
    border-style: none;
    background-color: #c0bebe;
    border-radius: 23px;
    margin-top: 7px;

}
.creat_group:hover{
    background-color: #DADDE1;
    border-radius: 5px;
}



