body{
   
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    background-color: #e1e1e1;
}
.Navigation_bar{
    padding-top: 3px;
    background-color: white;
  
}
.Navigation_bar_lift{
    float: left;
   padding-left: 10px;
}
#F_icon{
    font-size: 48px;
    color: #0d6be1d9;
}
#search_icon{
    font-size: 24px;
    position: absolute;
    top: 17px;  
    width: 46px;
    height: 22px;
    color: #00000047;

}
#search_bar{
   padding-left: 13px;
    padding-top: 8px;
}

.search_place{
    width: 225px;
    height: 37px;
    background-color: #e1e1e1;
    border-radius: 20px;
    border: none;
    color: #00000047;
    padding-left: 34px;
    padding-bottom: 6px;
    
}
.Navigation_bar_right{
    float: right;
}
.navi_left_icon {
    size: 20px;
}

.face{
    background-color: gray;
}
.home{
    size: 10px;
}
.top_icon_center{
    border: none;
    text-align: center;
}
.top_icon_center:hover{
    background-color: #21252914;
    border-radius: 10px;
}
.top_L_F{
    background-color: #21252914;
}
.top_L{
    text-align: center;
    background-color:#21252914 ;
    border-radius: 35px;
    padding: 8px;
}
i{
    font-size: 10px;
}