
.line{
	border: 0.5px solid rgb(206, 208, 212) ;
	margin-bottom: 10px;
	margin-top: 10px;
}
.text_align{
	margin-top: 85px;
	color: white;
}
.text_bar{
	border: 1px solid rgb(237, 239, 242);
	border-radius: 50px;
	width: 88%;
	height: 30%;
	background-color: rgb(240, 242, 245);
	margin-top: 10px;
}
.button{
	border: none;
	outline: none;
	border-radius: 15px;
}
.button:hover {
	background-color: #2125293b;

}
.story_style{
	background-color: white;
	border-radius: 10px;
}
